body {
	margin:0;
	padding:0;
	font:13px/16px "Lucida Grande", Arial, Sans-serif;
	color:#789;
	background-color: #ddeef6;
	background-image: url(images/front-bg.gif);
	background-repeat: repeat;
}

a.href_post_title{
        font: medium 'Times New Roman';      
}

p.href_post_category{
        
        font-weight: bold;
    
}


#header_left {
	padding-left:10px;
}

#session_uname {
	margin: 0 auto;
}

#tbl_header {
	width:100%;
	position: relative;
	
}

#searchField {
	width: 90%;
}

#header_left , #header_right {
	width: 25%;
	position: relative;
}

#header_center {
	width: 50%;
	position: relative;
}

#header_menu {
	width:100%;
	margin:0 auto;
	position: relative;        
}

#content {
	width:520px;
	min-height:500px;
}
a:link, a:visited {
	color:#27b;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a img {
	border-width:0;
}
#topnav {
	padding:10px 50px 12px 0;
	font-size:11px;
	line-height:23px;
	text-align:right;            
	background-color: #9EC3D6;
	height: 56;
}

#topnav a.signin {
	background:#88bbd4;
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;	
        -khtml-border-radius:4px;
	-moz-border-radius-topleft:4px;
        -moz-border-radius-topright:4px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:4px;
        -webkit-border-top-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:0px;
	*background:transparent url("images/signin-nav-bg-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}

#topnav a.signin:hover {
	background:#59B;
	*background:transparent url("images/signin-nav-bg-hover-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.signin, #topnav a.signin:hover {
	*background-position:0 3px!important;
    cursor:pointer;
}

}

a.signin {
	position:relative;
	margin-left:3px;
}
a.signin span {
	background-image:url("images/toggle_down_light.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
}

#topnav a.register , #topnav a.signout {
	background:#88bbd4;
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	font-size:11px;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*background:transparent url("images/signin-nav-bg-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}

#topnav a.register:hover, #topnav a.signout:hover {
	background:#59B;
	*background:transparent url("images/signin-nav-bg-hover-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.register, #topnav a.register:hover, #topnav a.signout, #topnav a.signout:hover {
	*background-position:0 3px!important;
        cursor:pointer;
}

a.register{
	position:relative;
	margin-left:3px;
}
a.register span {	
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 4px 6px 0;
}

#topnav a.menu-open {
	background:#DFE9F6!important;
	color:#666!important;
	outline:none;
}
#small_signup {
	display:inline;
	float:none;
	line-height:23px;
	margin:25px 0 0;
	width:170px;
}
a.signin.menu-open span {
	background-image:url("images/toggle_up_dark.png");
	color:#789;
}

#signin_menu {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:0px;
	display:none;	
	background-color:#DFE9F6;
	position:absolute;
	width:250px;
	z-index:100;
	border:1px transparent;
	text-align:left;
	padding:1px;
	top: 29.5px; 
	right: 50px; 
	margin-top:5px;
	margin-right: 0px;
	*margin-right: -1px;
	color:#789;
	font-size:11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ACE;
	font-size:13px;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#signin_menu p {
	margin:0;
}
#signin_menu a {
	color:#6AC;
}
#signin_menu label {
	font-weight:normal;
}
#signin_menu p.remember {
	padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
	clear:both;
	margin:5px 0;
}
#signin_menu p a {
	color:#27B!important;
}
#signin_submit {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#39d url('images/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}

.tipsy-inner {
	padding:10px 15px;
	line-height:1.5em;
	font-weight:bold;
}
.tipsy {
	opacity:.8;
	filter:alpha(opacity=80);
	background-repeat:no-repeat;
	padding:5px;
}
.tipsy-inner {
	padding:8px 8px;
	max-width:200px;
	font:11px 'Lucida Grande', sans-serif;
	font-weight:bold;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color:#000;
	color:white;
	text-align:left;
}
.tipsy-north {
	background-image:url(images/tipsy-north.gif);
	background-position:top center;
}
.tipsy-south {
	background-image:url(images/tipsy-south.gif);
	background-position:bottom center;
}
.tipsy-east {
	background-image:url(images/tipsy-east.gif);
	background-position:right center;
}
.tipsy-west {
	background-image:url(images/tipsy-west.gif);
	background-position:left center;
}

.span_register {
        
    
}

.searchContainer span { 
    background-color:#fff; 
    display:inline; 
    padding:5px;
}
.searchContainer input[type="text"] {
    border:none;
}
.searchContainer img { 
    vertical-align:middle;
}

.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}

#_panel {
	top: 25px;
	left: 75px;
	cursor: pointer;
}

#profile_image {
	display:block;
	max-height: 100%;
	max-width: 100%;
	margin: auto;
	cursor: pointer;
}

#pnl_my_profile {
	background-color: #EAF0F3;
}

#profile_image__ {
	height: 100%;
	width: 100%;
	cursor: pointer;
}

#thumb_image {
	height: 100%;
	width: 100%;
	max-height: 30px;
	max-width: 30px;
}

img.grid_profile_image {
	height: 100%;
	width: 100%;
	max-height: 40px;
	max-width: 40px;	
}

.upload-icon {
	background-image: url("images/icons/image_add.png");
}

.main_post_title {
	font-weight: bold;
	font-size:13px;	
	color: navy;
	max-width:350px;
}

.main_post_header {

}

.main_post_image {
	width: 100px;
	height: 120px;
	padding:10px;
	max-width:120px;
}

.main_post_body {
	padding-left: 20px;
    padding-right: 7px;
    position: fixed;
    max-width:320px;
}

.main_post_body_header {
	padding-left: 20px;
}

.main_post_line {

}

